/*
*Add class from color
*/
:root{
  /* colors */
  --color-primary: #EA3433;
  --color-secondary: #FCA32D;
  --color-white: #FFF;
  --color-black: #000;
  --color-green: #2AA746;
  --color-yellow: #FEC108;
  --color-medium-black : #2F3749;
  --color-black-rgba: rgba(0, 0, 0, .25);
  
  /* fonts */
  --roboto  : 'Roboto', sans-serif;

  --card-border-radius: 2rem;
  --border-radius-1: .4rem;
  --border-radius-2: .8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}
