header .navbar .navbar-brand img,
header .navbar .cpw-flex .cpw-column-1 img,
header .navbar .cpw-flex .cpw-column-2 img{
  width: 100%;
  max-width: 120px;
  display: block;
}
header .navbar .cpw-flex .cpw-column-1,
header .navbar .cpw-flex .cpw-column-2{
  display: grid;
  align-items: center;
}
