/*
*TV ON or OFF
*/
.sidebar-top{
  padding: 1rem 0;
}
.sidebar-top .cpw-on{
  display: block;
}
.sidebar-top .cpw-on li{
  padding: .1rem 0;
  font-size: .875rem;
  color: var(--color-primary);

  display: flex;
  align-items: center;
  gap: 5px;

  text-transform: uppercase;
  text-decoration: underline;
  transition: all .3s ease-in-out;
  opacity: .5;
}
.sidebar-top .cpw-on li.active{
  opacity: 1;
  font-weight: 600;
}
.sidebar-top .cpw-on li:hover{
  cursor: pointer;
  opacity: 1;
}
.sidebar-top .cpw-on li span.circle-red::before{
  content: "";
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: var(--color-primary);
  border-radius: 50%;
}
.sidebar-top .cpw-on li:first-child.active span.circle-red::before{
  background-color: green;
}
.sidebar-top .logo-tv{
  width: 100%;
  max-width: 180px;
  display: block;
  margin: 0 auto;
}
.sidebar-top h2{
  font-weight: 300;
  color: var(--color-primary);
  text-align: center;
}
.sidebar-top h2 span{
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(220,127,3);
}

/*
*.nav streaming
*/
.nav-streaming{
  text-align: center;
  margin-bottom: 0;
  background-color: var(--color-white);
  height: 48px;
  border-top: 1px solid var(--color-black-rgba);
  border-bottom: 1px solid var(--color-black-rgba);
}
.nav-streaming.cpw-fixed-sidebar{
  background-color: rgba(90,90,90, .7);
  transition: .3s all linear;
}
.nav-streaming li{
  display: inline-block;
  padding: 0 .5rem;
  margin-top: .7rem;
}
.nav-streaming li a{
  font-size: 1rem;
  color: var(--color-primary);
  transition: all .3s ease-in-out
}
.nav-streaming li a:hover{
  cursor: pointer;
}

.section-01 h2{
  color: var(--color-primary);
  text-align: center;
  margin: 1.4rem 0;
}

/*
*background video
*/
#section-02{
  padding: 3rem 0;
}
#section-02.bg-section-video{
  position: relative;
  width: 100vw;
  min-height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#section-02.bg-section-video::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #FFF, #FFF);
    opacity: .7;
}

#section-02 .bg-video{
  position: relative;
  width: 100%;
  max-width: 900px;
  padding: 0;
  margin: 0 auto;
}
#section-02 .bg-video::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #000, #000);
  opacity: .7;
}
#section-02 .bg-video img{
  position: relative;
  width: 100%;
  max-width: 900px;
  object-fit: cover;
  margin: 0 auto;
}
#section-02 .bg-video svg{
  position: absolute;
  top: 45%;
  left: 47.5%;

}
#section-02 .bg-video svg:hover{
  cursor: pointer;
  opacity: .5;
}

/*
*list videos
*/
.list-videos .slick-slide{
  text-align: center;
}
.list-video{
  width: 100%;
  max-width: 320px;
  height: 180px;
  margin: 0 auto;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-black-rgba);
}

/*
*about
*/
#section-04{
  background-color: var(--color-secondary);
  padding: 4rem 0;
}
#section-04 h2,
#section-04 p{
  color: var(--color-white);
  text-align: center;
}
#section-04 h2{
  margin-bottom: 1.4rem;
  font-weight: 300;
}
#section-04 p {
  font-size: .875rem;
  line-height: 1.5;
}
